<div>
  <!-- <p>Hello from {{ message }}</p>
  <app-test (childEvent)="message = $event" [parentData]="pData"></app-test>
  <app-frontpage></app-frontpage>
  <app-ngswitch></app-ngswitch>
  <app-eventbind></app-eventbind>
  <app-ngfor></app-ngfor> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-person-details></app-person-details> -->
  <!-- <app-person></app-person> -->

  <nav>
    <button>
      <a routerLink="/person" routerLinkActive="active">Person</a>
    </button>
    <a routerLink="/persondetails" routerLinkActive="active">Person Details</a>
  </nav>
</div>

<router-outlet></router-outlet>
